@import '../../styles/index.scss';

.wrapper {
    color: $color-primary;

    .content {
        .a {
            color: pink;
        }
    }

    .info {
        .a {
            color: red;
        }
    }
}