@import '@/styles/index.scss';

.whiteBg {
    background-color: $--fill-default;

    &.isTop {
        height: constant(safe-area-inset-top);
        height: env(safe-area-inset-top);
    }
    &.isBottom {
        height: constant(safe-area-inset-bottom);
        height: env(safe-area-inset-bottom);
    }
}