@import '@/styles/index.scss';

.wrapper {
    color: $text-color-primary;

    .logo {
        width: px(100);
        height: px(100);
        margin-top: 200px;
    }
    
    .title {
        margin-top: px(-16);
        font-weight: bold;
        font-size: px(24);
    }

    .desc {
        margin-top: px(24);
        color: $text-color-regular;
        font-size: px(16);
    }

    .loginBtn {
        position: absolute;
        bottom: px(100);
        left: px((375 - 300) / 2);
        width: px(300);
    }
}

