@import '@/ui/styles/index.scss';

.vWhiteSpace {
  position: relative;
  flex-shrink: 0;
  padding: px(4) 0;

  &.isMedium {
    padding: px(7) 0;
  }

  &.isLarge {
    padding: px(10) 0;
  }

  &.line {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: px(0.5);
      background-color: $--color-divider-base;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.hWhiteSpace {
  flex-shrink: 0;
  padding: 0 px(4);

  &.isMedium {
    padding: 0 px(7);
  }

  &.isLarge {
    padding: 0 px(10);
  }

  &.line {
    &::after {
      content: '';
      position: absolute;
      width: px(0.5);
      height: 100%;
      background-color: $--color-divider-base;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}