@import '@ui/styles/index.scss';

.wrapper {
    margin: 0 px(14);
    padding: px(14);
    border-radius: px(12);
    background-color: $--color-red-1;
    color: $--text-color-base-inverse;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: px(16);
        font-weight: bold;
    }
}

.content {
    display: flex;
    flex-direction: row;
    height: px(182);
    padding-top: px(14);
    white-space: nowrap;
}