@import '@ui/styles/index.scss';

.layoutWrapper {
  box-sizing: border-box;
  height: 100%;
  background-color: $--fill-body;

  .scrollView {
    height: 100%;

    .cardContainer {
      box-sizing: border-box;
      padding: px(12) px(16);
    
      .cardList {
        padding: px(16);
        border-radius: px(12);
        background-color: $--fill-default;
      }
    }
  }
}