@import '@ui/styles/index.scss';

.wrapper {
  display: flex;
  padding: px(14);
  border-radius: px(12);
  background-color: $--fill-default;

  .card {
    flex: 1;

    .subTitle {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      text {
        @include single-line-ellipsis;
      }

      text + text {
        margin-top: px(4);
      }
    }
  }
}