@import './var.scss';

@mixin border($directionMaps: bottom, $color: $--color-border-base) {
  border: 0 solid $color;

  @each $directionMap in $directionMaps {
    border-#{$directionMap}-width: 1PX;
  }
}

@mixin single-line-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin safe-area-inset-bottom {
  &:after {
    content: '';
    display: block;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    width: 100%;
    background-color: inherit;
  }
}

@mixin safe-area-inset-top {
  &:after {
    content: '';
    display: block;
    padding-bottom: constant(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-top);
    width: 100%;
    background-color: inherit;
  }
}