@import './var.scss';

@mixin border($directionMaps: bottom, $color: $--color-border-base) {
  border: 0 solid $color;

  @each $directionMap in $directionMaps {
    border-#{$directionMap}-width: 1PX;
  }
}

@mixin single-line-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}