@import 'ossaui/dist/style/_variable.scss';
@import './theme.scss';
// 颜色参考 https://github.com/NeteaseYanxuan/OSSA/blob/main/packages/ossa/src/style/_variable.scss

$--color-red-1: #FFBBC6;
$--color-red-opacity-1: rgba($--color-red, 0.1);
$--color-red-opacity-4: rgba($--color-red, 0.2);

$--color-black: #000;
$--color-white: #fff;

$--color-divider-base:#F1F1F1 !default;

$--color-mask-disable:rgba(255, 255, 255, 0.6) !default; 

$--color-box-shadow-base: $--color-red-opacity-4 !default;
$--color-box-shadow-menu: rgba(0, 0, 0, 0.1) !default;

$--color-rate-inactive: #CCC !default;
$--color-rate-active: #FAB646 !default;

$--box-shadow-menu: 0 px(4) px(10) 0 $--color-box-shadow-base !default;

/* z-index */
$z-index-negative: -1 !default;
$z-index-s: 1 !default;
$z-index-m: 10 !default;
$z-index-l: 100 !default;
$z-index-xl: 1000 !default;