@import '@/styles/index.scss';

:global(page) {
    height: auto;
}

.chartDateSelect {
    padding: px(4) px(8);
    color: $color-primary;
    border: 1PX solid $color-primary;
    border-radius: px(4);
}

.chartContainer {
    height: px(300);
}

.rankItem {
    font-size: px(12);
}
