@import '@/ui/styles/index.scss';

.wrapper {
    width: px(112);
}

.imgWrapper {
    width: px(112);
    height: px(112);
    border-radius: px(12);
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
    }
}

.title {
    margin: px(6) 0 px(4);
    font-size: px(14);

    @include single-line-ellipsis;
}