@import '@ui/styles/index.scss';

.pageWrapperWithCustomTabBar {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;

  .pageContainer {
    flex: 1;
    overflow: hidden;
  }

  .tabBarPlaceholder {
    flex-shrink: 0;
    height: px($--tab-bar-height);
  }
}