@import '@ui/styles/index.scss';

.productSearchWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $--fill-default;

  .searchWrapper {
    width: 100%;
    flex-shrink: 0;
  }

  .list {
    flex: 1;
    overflow: hidden;
  }

  .scrollView {
    height: 100%;
  }

  .container {
    padding: px(16);
    padding-bottom: 0;
  }
}

