@import '@ui/styles/index.scss';

@keyframes spin {
  from {
    transform: rotate(0deg); /* 初始位置 */
  }
  to {
    transform: rotate(360deg); /* 旋转一周 */
  }
}

.loading {
  animation: spin 1s linear infinite;
}