@import '@ui/styles/index.scss';

.wrapper {
  box-sizing: border-box;
  background-color: $--fill-body;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;

  .scrollView {
    height: 100%;

    .container {
      padding: px(16) px(24);
    }
  }
}