@import '@/styles/index.scss';

.header {
    color: $color-white;
    background-color: $color-primary;

    .nickname {
        font-size: px(12);
    }

    .stat {
        padding-top: px(22);
    }

    .count {
        font-size: px(24);
    }

    .title {
        font-size: px(12);
    }
}