@import '@/styles/index.scss';

.wrapper {
    width: px(112);
}

.imgWrapper {
    width: px(112);
    height: px(112);
    border-radius: px(12);
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
    }
}

.title {
    margin: px(6) 0 px(4);
    font-size: px(14);
}

.pointsWrapper {
    display: flex;
    align-items: center;
    height: px(22);

    .normal {
        margin-right: px(8);
        font-size: px(11);
        text-decoration: line-through;
    }

    .emphasize {
        color: $--color-red;
        font-size: px(16);
        font-weight: bold;
    }
}