@import '@/styles/index.scss';

@mixin button-color(
  $color,
  $type,
) {
  @if ($type == plain) {
    color: $color;
    border-color: $color;
    background-color: initial;
    &:active {
      background-color: initial;
    }
    @include hairline-box-color-inherit();
  } @else if ($type == primary) {
    color: $--text-color-base-inverse;
    background-color: $color;
    border-color: $color;
    @include hairline-box-color-inherit();
  }
}

@mixin button-radius($radius) {
  border-radius: $radius;

  &::after {
    border-radius: $radius * 2;
  }
}

.buttonWrapper {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  outline: none;
  cursor: pointer;
  height: px(20);
  border-radius: 0;

  .icon {
    &.isLarge {
      margin-right: px(4);
    }
    &.isMedium {
      margin-right: px(4);
    }
    &.isSmall {
      margin-right: px(2);
    }
    &.isMini {
      margin-right: px(1);
    }
  }

  .text {
    display: inline-block;
    font-size: px(14);
    max-width: 100%;
    line-height: 1.1;
    @include single-line-ellipsis;
  }

  &.isDisabled {
    &,
    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  &.isPlain {
    @include button-color($--color-red, plain);
  }

  &.isPrimary {
    @include button-color($--color-red, primary);
  }

  &.isLarge {
    padding: 0;
    height: px(40);
    width: px(255);

    .text {
      font-size: px(14);
    }
  }

  &.isMedium {
    padding: 0 px(14);
    height: px(32);
    width: auto;
    min-width: px(74);
    max-width: px(144);

    .text {
      font-size: px(14);
    }
  }

  &.isSmall {
    padding: 0 px(10);
    height: px(24);
    width: auto;
    min-width: px(56);
    max-width: px(136);

    .text {
      font-size: px(12);
    }
  }

  &.isMini {
    padding: 0 px(6);
    height: px(18);
    width: auto;
    min-width: px(42);
    max-width: px(104);

    .text {
      font-size: px(10);
    }
  }

  &.isRadius {
    @include button-radius(px(4));
  }

  &.isCircle {
    &.isLarge {
      @include button-radius(px(20));
    }
    &.isMedium {
      @include button-radius(px(16));
    }
    &.isSmall {
      @include button-radius(px(12));
    }
    &.isMini {
      @include button-radius(px(9));
    }
  }

  &.isActive {
    &.isPlain {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: var(--button-plain-active-color, $--color-red-opacity-1);
        border-radius: inherit;
        pointer-events: none;
        z-index: 2;
      }
    }
  
    &.isPrimary {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        background-color: $--color-black;
        border-radius: inherit;
        pointer-events: none;
        z-index: 2;
      }
    }
  }
}