@import './mixins.scss';
/* 输入框箭头朝右 */

.is-cursor-right {
    text-align: right;
    
    input {
        text-align: right;
    }
}

$directions: top, bottom, left, right;

@each $direction in $directions {
    .border-#{$direction} {

        @include border($direction);
    }
}