/* 小程序页面顶层 page */

page {
    height: 100%;
}

/* 重置 taro-ui input.placeholder 样式 */

// .placeholder {
//     color: $color-neutral-8;
// }

.at-input__input input::placeholder {
    color: $color-neutral-8;
}