$color-primary: #fe8ebd; // 254 142 189 => 1 113 66
$color-primary-light: #feaace;
$color-primary-dark: #cb7297;
$color-primary-5: fade-out($color-primary, 0.5) !default;
$color-primary-7: fade-out($color-primary, 0.7) !default;
$color-primary-9: fade-out($color-primary, 0.9) !default;
$color-danger: #F56C6C !default;
$color-white: #fff !default;
$color-black: #000 !default;

// 中立色 neutral
$color-neutral-1: #000 !default;
$color-neutral-2: #323232 !default;
$color-neutral-3: #555 !default;
$color-neutral-4: #666 !default;
$color-neutral-5: #999 !default;
$color-neutral-6: #B2B2B2 !default;
$color-neutral-7: #B5B5B5 !default;
$color-neutral-8: #CCC !default;
$color-neutral-9: #DDD !default;
$color-neutral-10: #E8E8E8 !default;
$color-neutral-11: #EEE !default;
$color-neutral-12: #F2F2F2 !default;
$color-neutral-13: #F5F5F5 !default;
$color-neutral-14: #FAFAFA !default;
$color-neutral-15: #FCFCFC !default;

/* transparent */
$color-text-thin-dark-1: rgba(0, 0, 0, .1) !default;
$color-text-thin-dark-2: rgba(0, 0, 0, .2) !default;
$color-text-thin-dark-3: rgba(0, 0, 0, .3) !default;
$color-text-thin-dark-4: rgba(0, 0, 0, .4) !default;
$color-text-thin-dark-5: rgba(0, 0, 0, .5) !default;
$color-text-thin-dark-6: rgba(0, 0, 0, .6) !default;
$color-text-thin-dark-7: rgba(0, 0, 0, .7) !default;
$color-text-thin-dark-8: rgba(0, 0, 0, .8) !default;
$color-text-thin-dark-9: rgba(0, 0, 0, .9) !default;

/* text color */
$text-color-primary: $color-neutral-2 !default; // #323232
$text-color-regular: $color-neutral-4 !default; // #666
$text-color-secondary: $color-neutral-5 !default; // #999

// border-color
$border-color-primary: $color-neutral-10 !default; // #E8E8E8

// background-color
$background-color-primary: $color-neutral-12 !default; // #F2F2F2

/* z-index */
$z-index-negative: -1 !default;
$z-index-s: 1 !default;
$z-index-m: 10 !default;
$z-index-l: 100 !default;
$z-index-xl: 1000 !default;