@import '@/styles/index.scss';

/* 头部 */

.headerItem {
    color: $color-white;

    .label {
        font-size: px(12);
    }

    .strong {
        font-size: px(24);
    }

    .secondary {
        font-size: px(14);
    }

    .icon {
        font-size: px(14);
    }
}