@import '@/styles/index.scss';

.topBar {
  display: flex;
  align-items: center;

  .checkIn {
    width: px(37);
    height: px(32);
    background: url('https://gitee.com/karmiy/static/raw/master/weapp-toy/imgs/check-in.png') no-repeat;
    background-position: center center;
    background-size: contain;
  }
}