@import '@ui/styles/index.scss';

.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;

  &.isSelected {
    .content {
      border: px(1) solid $--color-red;
      color: $--color-red;
    }

    .action {
      opacity: 1;
    }
  }

  &.isUnSelectable {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: $--color-mask-disable;
      border-radius: px(14);
    }
  }

  &.isUsed, &.isExpired {
    &::after {
      content: '';
      width: px(50);
      height: px(20);
      position: absolute;
      top: px(14);
      right: px(14);
      z-index: 1;
      border-radius: px(4);
      color: $--text-color-secondary;
      background-color: $--fill-bar;
      font-size: px(12);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .scoreWrapper {
      background-color: $--fill-disable;
    }

    .info .title {
      color: $--text-color-secondary;
    }
  }

  &.isUsed::after {
    content: '已使用';
  }

  &.isExpired::after {
    content: '已过期';
  }

  .scoreWrapper {
    flex-shrink: 0;
    width: px(72);
    height: px(72);
    background-color: $--color-red;
    color: $--text-color-base-inverse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: px(14) 0 0 px(14);

    .score {
      font-size: px(20);
      font-weight: bold;
    }

    .condition {
      font-size: px(12);
    }
  }

  .content {
    flex: 1;
    padding: 0 px(14);
    border: px(1) solid $--color-divider-base;
    border-left-width: 0;
    border-radius: 0 px(14) px(14) 0;
    overflow: hidden;
    display: flex;
  }

  .info {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      width: 100%;
      font-size: px(14);
      font-weight: bold;
      margin-bottom: px(4);
      @include single-line-ellipsis;
    }

    .subTitle {
      width: 100%;
      font-size: px(10);
      color: $--text-color-secondary;
      margin-bottom: px(4);
      @include single-line-ellipsis;
    }
  }

  .action {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: px(4);
    opacity: 0;

    .outer {
      box-sizing: border-box;
      flex-shrink: 0;
      width: px(16);
      height: px(16);
      display: flex;
      justify-content: center;
      align-items: center;
      border: px(1) solid $--color-red;
      border-radius: 50%;
    }

    .inner {
      width: px(10);
      height: px(10);
      background-color: $--color-red;
      border-radius: 50%;
    }
  }
}