@import '@ui/styles/index.scss';

.calendarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarHeader {
  display: flex;
  align-items: center;
  height: px(22);
  color: $--text-color-base;
  font-size: px(15);
  margin-bottom: px(8);
}

.calendarBody {
  width: 100%;
  color: $--text-color-secondary;
  font-size: px(15);

  .row {
    display: flex;
    height: px(36);
  }

  .col {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.isOuterDate {
      color: $--text-color-muted;
    }

    &.isToday {
      color: $--color-red;
    }

    &.isMarked {
      &::after {
        content: '';
        position: absolute;
        width: px(4);
        height: px(4);
        border-radius: 50%;
        bottom: px(3);
        left: 50%;
        transform: translateX(-50%);
        background-color: $--color-red;
      }
    }

    &.isSelected {
      .colContent {
        color: $--text-color-base-inverse;
        border-radius: 50%;
        background-color: $--color-red;
      }

      &.isMarked::after {
        background-color: $--fill-default;
      }
    }

    .colContent {
      width: px(32);
      height: px(32);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}