@import '@ui/styles/index.scss';

.wrapper {
  height: 100%;
  background-color: $--fill-body;
}

.header {
  padding: px(14);
  background-color: $--color-red;
  display: flex;
  align-items: center;

  .avatar {
    flex-shrink: 0;
    background-color: $--fill-gray;
    border-radius: 50%;
    width: px(80);
    height: px(80);
    overflow: hidden;
    outline: none;
    border: none;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    color: $--text-color-base-inverse;
    margin-left: px(28);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-size: px(18);
      margin-bottom: px(4);
    }

    .subTitle {
      font-size: px(16);
    }
  }
}

.container {
  padding: px(14);
}

.menuList {
  border-radius: px(12);
  background-color: $--fill-default;
  overflow: hidden;
  box-shadow: $--box-shadow-menu;

  .menuItem + .menuItem {
    border-top: px(0.5) solid $--color-divider-base;
  }

  .menuItem {
    padding: px(14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: px(14);

    .title {
      display: flex;
      align-items: center;

      text {
        margin-left: px(8);
      }
    }
  }

  .menuButton {
    padding: px(14);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px(14);
    color: $--color-red;
  }
}