@import '@/styles/index.scss';

/* 头部 */

.detailItem {
    .groupTitle {
        height: px(40);
        color: $text-color-secondary;
        font-size: px(12);
        border-bottom: 1px solid $border-color-primary;
    }

    .groupItem {
        color: $text-color-primary;
        border-bottom: 1px solid $border-color-primary;

        .type {
            overflow: hidden;
            font-size: px(16);
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .time {
            color: $text-color-secondary;
            font-size: px(12);
        }

        .account {
            font-size: px(18);
        }

        .arrow {
            color: $text-color-secondary;
            font-size: px(16);
        }
    }
}