@import '@ui/styles/index.scss';

.checkButtonWrapper {
  display: flex;
  align-items: center;
}

.tagWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tagItem {
    margin: 0 px(4) px(4) 0;
  }

  .addTag {
    display: flex;
    align-items: center;
    margin: 0 px(4) px(4) 0;
    color: $--color-red;
    font-size: px(12);
  }
}
