@import '@/styles/index.scss';

.wrapper {
  display: flex;
  height: px(21);
  justify-content: space-between;
  align-items: center;
  font-size: px(14);
  color: $--text-color-base;

  .text {
    display: flex;
    align-items: center;
  }

  .isHighlight {
    color: $--color-red;
  }

  .isEmphasize {
    font-size: px(17);
    font-weight: bold;
  }

  .select {
    margin-left: px(8);
  }
}