@import '@ui/styles/index.scss';

.safeAreaBarWrapper {
    flex-shrink: 0;
    background-color: transparent;

    &.whiteBg {
        background-color: $--fill-default;
    }

    &.isTop {
        height: constant(safe-area-inset-top);
        height: env(safe-area-inset-top);
    }
    &.isBottom {
        @include safe-area-inset-bottom;
    }

    &.isTabBar {
        height: px($--tab-bar-height);
    }
}
