@import '@ui/styles/index.scss';

.tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.tabsHeaderContainer {
  display: flex;
  width: 100vw;
}

.tabsHeaderItem {
  flex: 1;
}

.tabsContent {
  padding: px(14) px(16);
}